.navigation {
  height: 100vh;
  width: var(--sidebar-width);
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--main-bg);
  box-shadow: var(--box-shadow);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.navigation__logo {
  display: flex;
  height: 150px;
  align-items: center;
  justify-content: center;
}

.navigation__logo > img {
  height: 125px;
}

.navigation__tools {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
